body,html{
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    color: white;
}
.navbar{
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}
.logo{
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: start;
}
.logo .logo1 .material-icons{
    margin-left: 20px;
    font-size: 48px;
}
.tab{
    align-self: center;
    flex: 1;
}
.tab ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 75px;
}
.tab ul li{
    margin-left: 5px;
    margin-right: 5px;
}
.tab ul li a{
    padding: 10px 15px;
    border-radius: 10px;
    color: #26f;
    display: flex;
    align-content: center;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.tab ul li a .tit{
    margin-top: 1px;
    flex:1;
}
.tab ul li a .material-icons {
    margin-right: 5px;
    transition: 0.5s ease-in-out;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.tab ul li a:hover{
    color: white;
    background-color: #26f;
}
.sec1{
    width: 100%;
    height: 667px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.sec1 .kiri{
    flex: 1;
    padding-left: 130px;
    box-sizing: border-box;
}
.sec1 .kiri h2{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    font-size: 41px;
}
.sec1 .kiri h3{
    margin-top: -40px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 55px;
}
.sec1 .kiri h3 span{
    color: #26f;
}
.sec1 .kiri .tombol{
    z-index: 1;
    position: absolute;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    width: 130px;
    height: 20px;
    margin-left: 0px;
    background-color: #26f;
    transition: 0.4s ease-in-out;
}
.sec1 .kiri .tombol:hover{
    background-color: rgb(58, 117, 255);
    margin-left: 10px;
}
.sec1 .kiri .tombol a{
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.sec1 .kanan{
    flex: 1;
    padding-right: 130px;
    box-sizing: border-box;
}
.sec1 .kanan img{
    margin-left: 15vw;
    width: 400px;
}
.sec2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 766px;
    background-color: rgb(255, 255, 255);
}
.profile{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile img{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 25vw;
}
.about{
    flex:1;
    color: black;
}
.about h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 56px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.about h2{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 27px;
    margin-top: 0px;
    color: #26f;
}
.about h2 img{
    width: 20px;
}
.about p{
    margin-top: -20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    padding-right: 10vw;
}
.about .tis{
    margin-bottom: 30px;
}
.about .skill{
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .skill .kanans{
    flex:1;
}
.about .skill .kiris{
    flex:1;
}
.k1{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color:#26f;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    transition: 0.5s ease-in-out;
    color: white;
    overflow: hidden;
}
.k1 .material-icons{
    display: none;
}
/* icon kanan */
#ka1::before{
    content:"";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("/img/contacts-white-48dp.svg");
    background-position: center;
    background-size: cover;
}
#ka2::before{
    content:"";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("/img/contacts-white-48dp.svg");
    background-position: center;
    background-size: cover;
}
#ka3::before{
    content:"";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("/img/contacts-white-48dp.svg");
    background-position: center;
    background-size: cover;
}
#ka4::before{
    content:"";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("/img/contacts-white-48dp.svg");
    background-position: center;
    background-size: cover;
}
/* icon kiri */
#ki1::before{
    content:"";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("/img/contacts-white-48dp.svg");
    background-position: center;
    background-size: cover;
}
#ki2::before{
    content:"";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("/img/contacts-white-48dp.svg");
    background-position: center;
    background-size: cover;
}
#ki3::before{
    content:"";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("/img/contacts-white-48dp.svg");
    background-position: center;
    background-size: cover;
}
#ki4::before{
    content:"";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("/img/contacts-white-48dp.svg");
    background-position: center;
    background-size: cover;
}
.k1::before{
    margin-left: -30px;
    transition: 0.5s ease-in-out;
}
.k1:hover::before{
    margin-left: 0px;
}
.k1:hover{
    background-color: rgb(7, 73, 228);
    color: white;
    margin-left: 0px;
}
.sec3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 750px;
    background-color: rgb(255, 255, 255);
    color: black;
}
.title3{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}
.title3 h1{
    display: block;
    background-color: #26f;
    width: 300px;
    height: 56px;
    line-height: 0px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 56px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.bungkus3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    height: 380px;
}
.card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1c1c1c;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    margin-right: 20px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    padding-top: 100px;
    box-shadow: 4px 4px 7px 1px #b8b8b8;
    box-sizing: border-box;
}
.card1 .content1{
    margin-top: -20px;
}
.card1::before{
    content: "";
    display: inline-block;
    width: 70px;
    height: 70px;
    background-image: url("/img/brush-black-48dp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.9s ease-in-out;
}
.card1:hover{
    height: 370px;
    width: 250px;
}
.card1:hover::before{
    margin-top: -100px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    font-size:20px;
}
.card1 span{
    text-align: justify;
    padding: 0 40px;
    font-size: 15px;
    font-weight: 100;
}
.card1 h1{
    padding: 0 40px;
    margin-top: 10px;
    line-height: 1.2;
    font-size: 30px;
    font-weight: 100;
}
.card1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    margin-top: 40px;
}
/*
.card1:hover{
    transform: scale(1.05);
}*/
.card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1c1c1c;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    margin-right: 20px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    padding-top: 100px;
    box-sizing: border-box;
    box-shadow: 4px 4px 7px 1px #b8b8b8;
}
.card2 .content2{
    margin-top: -20px;
}
.card2::before{
    content: "";
    display: inline-block;
    width: 70px;
    height: 70px;
    background-image: url("/img/web-black-48dp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.9s ease-in-out;
}
.card2:hover{
    height: 370px;
    width: 250px;
}
.card2:hover::before{
    margin-top: -100px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    font-size:20px;
}
.card2 span{
    text-align: justify;
    padding: 0 40px;
    font-size: 15px;
    font-weight: 100;
}
.card2 h1{
    padding: 0 40px;
    margin-top: 10px;
    line-height: 1.2;
    font-size: 30px;
    font-weight: 100;
}
.card2 a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    width: 100px;
    height: 40px;
    margin-top: 50px;
}
.card2 a img{
    margin-top: 30px;
}
.card3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1c1c1c;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    padding-top: 100px;
    box-sizing: border-box;
    box-shadow: 4px 4px 7px 1px #b8b8b8;
}
.card3 .content3{
    margin-top: -20px;
}
.card3::before{
    content: "";
    display: inline-block;
    width: 70px;
    height: 70px;
    background-image: url("/img/power-black-48dp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.9s ease-in-out;
}
.card3:hover{
    height: 370px;
    width: 250px;
}
.card3:hover::before{
    margin-top: -100px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    font-size:20px;
}
.card3 span{
    text-align: justify;
    padding: 0 40px;
    font-size: 15px;
    font-weight: 100;
}
.card3 h1{
    padding: 0 40px;
    margin-top: 10px;
    line-height: 1.2;
    font-size: 30px;
    font-weight: 100;
}
.card3 a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    margin-top: 40px;
}
.sec4{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 750px;
    background-color: #1C1C1C;
    color: white;
}
.sec4 .kiri{
    display: flex;  
    flex: 1;
    justify-content: center;
    flex-direction: column;
    padding: 0px 100px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 20px;
}
.sec4 .kiri h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 56px;
}
.sec4 .kanan{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    padding: 0px 100px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 20px;
}
.sec4 .kanan h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 56px;
}
.sec5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #000000;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    font-size: 14px;
}